*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'RM';
    src: url("./get_schwifty.ttf");
}
body {
    max-height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
    color:white;
}
.scrollable {
    max-height: 100vh;
    overflow: scroll;
}

/* title of list */
.title_list{
    font-family: 'RM';
    padding-top:10px;
    text-align: center;
    font-size: 50px;
    color: #09C9BC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DAF280;
}

.form{
    margin:50px auto;
    text-align: center;
}
.form p{
    color:rgb(108,176,73);
    font-size: 20px;
    padding-bottom: 15px;
}
.form input{
    width: 200px;
    height: 20px;
    background-color: rgba(0,0,0,0);
    border:1px solid rgb(9,201,188);
    box-shadow: 0px 0px 10px 5px rgb(9,201,188);
    color:rgb(132,202,70);
    padding:5px
}
.character_list_item{
    display: flex;
    align-items: center;
    border:1px solid rgb(89,163,74);
    width: 80%;
    margin:50px auto;
    padding:20px;
    background-color: rgb(187,219,232);
    color:rgb(5,3,0);
}
.character_list_item:hover{
    box-shadow: 0px 0px 30px -3px rgb(7,199,204);
    transition: all .5s ease-in-out;
}
.character_img p{
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 900;
}
.character_img img{
    border: 1px solid rgb(0,0,0);
}
.more_info{
    padding-left: 50px;
    font-size: 20px;
    line-height: 30px;
}
.more_info div b{
    font-size: 22px;
}